.Login {width: 320px;margin: 50px auto;

    .title {color: #273444;font-size: 1.5em;text-align: center;margin: 0 0 20px 0;}

    .Login__input {width: 100%;border: 1px solid #cad3de;height: 40px;line-height: 40px;margin: 5px 0 10px;border-radius: 3px;padding: 0 10px;outline: none;box-sizing: border-box;}
    .Login__input:focus {border: 1px solid #4289dc;}

    .loginBtn {
    box-sizing: border-box;border: none 0;height: 44px;line-height: 44px;width: 100%;background: #4187db;font-size: 16px;border-radius: 3px;
    margin-right: 40px;transition: all 0.5s ease;cursor: pointer;outline: none;color: #fff;margin-top: 15px;}
    .loginBtn:hover {background: #2668b5;}
    .loginBtn[disabled] {opacity: 0.8;}
    .loginBtn[disabled]:hover {background: #4187db;}

}